<div ng-controller="PizzaController as Pizza">
    <h1>Escolha o seu sabor</h1>

    <ul ng-init="Pizza.listarSabores()">
        <!-- Faz a repetição dos sabores de pizza -->
        <li ng-repeat="pizza in Pizza.sabores | orderBy: 'sabor'">
            <a href="#!/pizzas/{{pizza.id}}">
                <!-- Nome do sabor -->
                <span ng-bind="pizza.sabor"></span>
                (
                    <!-- Ingredientes desta pizza -->
                    <span
                            ng-repeat-start="ingrediente in pizza.ingredientes"
                            ng-bind="ingrediente.ingrediente"
                    ></span><span ng-repeat-end ng-if="!$last">, </span>
                )
            </a>
        </li>
    </ul>
</div>